<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">

</head>
<body>
<header>

    <h2>Breast Cancer Detector</h2>
</header>
<div class="ml-container">
    <form action="{{ url_for('predict')}}" method="POST">
        <p>Clump Thickness (In range of 1 to 10): <br><input type="text" id="id1" name="Clump_Thickness">
        </p>


        <p>Uniformity of Cell Size (In range of 1 to 10): <br/>
            <input type="text" id="id2" name="Uniformity_of_Cell_Size"></p>


        <p> Uniformity of Cell Shape (In range of 1 to 10): <br/>
            <input type="text" id="id3" name="Uniformity_of_Cell_Shape"></p>


        <p>Marginal Adhesion (In range of 1 to 10): <br/>
            <input type="text" id="id4" name="Marginal_Adhesion"></p>


        <p>Single Epithelial Cell Size (In range of 1 to 10): <br/>
            <input type="text" id="id5" name="Single_Epithelial_Cell_Size"></p>


        <p> Bare Nuclei (In range of 1 to 10): <br/>
            <input type="text" id="id6" name="Bare_Nuclei"></p>


        <p>Bland Chromatin (In range of 1 to 10): <br/>
            <input type="text" id="id7" name="Bland_Chromatin"></p>


        <p>Normal Nucleoli (In range of 1 to 10): <br/>
            <input type="text" id="id8" name="Normal_Nucleoli"></p>


        <p>Mitoses (In range of 1 to 10): <br/>
            <input type="text" id="id9" name="Mitoses"></p>


        <br/>


        <input type="submit" class="btn-info" value="predict"/>
        <br/>


    </form>
</div>
</body>
</html>